@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using Foundation.AspNetCore.Features.CheckoutFeatures.ViewModels

@model CheckoutViewModel

<div>
    @Html.PropertyFor(m => m.CurrentContent.MainBody)
</div>